/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

:root {
    --clr-black: #0b0a0a;
    --clr-red: #FF3F44;
    --clr-grey: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kenia", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.fullpage {
    overflow-x: hidden;
    height: 100%;
    width: 100%;

}

a {
    text-decoration: none;
    color: black;
}

.redtext {
    color: var(--clr-red);
}

.redbtn {
    background-color: var(--clr-red);
    color: white;
    font-family: "Luckiest Guy", cursive;
}

.main {
    padding-bottom: 30px;
    min-height: 100vh;
    padding-bottom: 30px;
    width: 100vw;

}

nav {
    background: white;
    position: relative;
    z-index: 100000;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px 0 grey;
    animation: 3s fadeDown ease;
}

.navhead {
    margin-left: 40px;
}

.navhead h2 {
    font-size: 2rem;
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.navlinks a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.navlinks a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 4px;
    background-color: var(--clr-red);
    transition: width 0.5s ease;
}

.navlinks a:hover::after {
    width: 100%;
}

.logos {
    margin-right: 4rem;
    display: inline-flex;
    gap: 1rem;
    font-size: 25px;
}

.logos a {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    transition: .3s ease-in-out;
}

.logos a:hover {
    padding-bottom: 10px;
    color: var(--clr-red);
    cursor: pointer;
}


.menu-icon {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    font-size: 30px;
    padding-top: 8px;
    display: none;
}

.menu-icon i:hover {
    cursor: pointer;
}


.menulinks {
    display: none;
    position: absolute;
    top: 105%;
    right: 0;
    width: 50%;
    background-color: rgb(236, 234, 234);
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}
.menuanimation {
    animation: fadeDown 2s ease-in-out;
}

.menulinks > a {
    display: block;
    padding: 10px 0;
    color: var(--clr-red);
    text-decoration: none;
    transition: .3s ease-in-out all;
}

.menulinks > a:hover {
    background-color: var(--clr-red);
    color: white;
}

.menulogos {
    color: var(--clr-black);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 20px;
    border-top: 2px solid var(--clr-grey);
}

.menulogos a:hover {
    color: var(--clr-red);
}


/*MAIN-AREA*/
.mainarea {
    min-height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maintextbox-left {
    padding: 10px;
    margin-left: 40px;
    animation: 4s fadeIn ease;
}

.maintextbox-left h1 {
    font-size: 70px;
    line-height: 5rem;
}

.maintextbox-left p {
    font-size: 18px;
    word-spacing: .5rem;
}

#bookbtn {
    height: 50px;
    margin-top: 10px;
    width: 100px;
    margin-left: 0;
    font-size: 15px;
    border: none;
    box-shadow: 0 4px 6px 0 black;
    transition: .3s ease all;
}

#bookbtn:hover {
    box-shadow: 0 8px 12px 0 black;
}

.heroimg-right {
    height: auto;
    position: relative;
    width: auto;
}

.heroimg-right img {
    padding-top: 100px;
    animation: 7s popImg ease;
}

.triangle-up {
    width: 0;
    z-index: -1;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    border-right: 800px solid var(--clr-red);
    border-bottom: 730px solid transparent;
    animation: 2s fadeOut ease;
}


.specials {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px 10rem;
}

.rectangularcard {
    width: 300px;
    height: 100px;
    background-color: var(--clr-grey);
    box-shadow: 0 8px 16px 0 grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .5rem;
    transition: .3s ease-in-out;
    animation: 5s fadeUp ease;
}

.rectangularcard:hover {
    box-shadow: 0 8px 16px 0 black;
}

.rectangularcard img {
    margin-left: 10px;
    height: 80px;
    display: inline-flex;
}

.rectangularcard p{
    padding-right: 3px;
}



.about {
    min-height: 80vh;
    width: 100%;
    padding-bottom: 30px;
    background-color: var(--clr-grey);
}

.aboutheader {
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

.aboutheader h1 {
    font-size: 80px;
}

.aboutheader h3 {
    font-size: 20px;
    color: goldenrod;
}

.imgandtext {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 100px;


}

.about-imgcontainer {
    box-shadow: 0 8px 12px 0 black;
    margin-left: 50px;
    max-width: 500px;
    height: 300px;
}

.about-imgcontainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 8px white;
}

.about-textcontainer {
    width: 60%;
    margin-right: 50px;
    font-size: 20px;
    padding: 30px;
}

.features {
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-color: var(--clr-black);
}

.featureshead {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    height: auto;
    width: auto;
}

.featureshead h1 {
    font-size: 80px;
}

.featurecar {
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
}

.featurecar img {
    width: 100%;
}

.features-imgandtxt {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.textimagediv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.feature-imgcontainer {
    height: 400px;
    width: 400px;
    border: solid 10px grey;
    float: left;
}

.feature-imgcontainer img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.feature-textarea {
    width: 65%;
    height: 400px;
    padding: 40px;
    margin: 0;
}

.feature-textarea h2 {
    font-size: 50px;
}

.feature-textarea p {
    font-size: 20px;
}

.rightimg {
    flex-direction: row-reverse;
}

.rightimg .feature-textarea {
    text-align: right;
}

.models {
    height: auto;
    width: 100vw;
    background-color: #0f1010;
    color: white;
    
}

.modelselector {
    background-color: rgb(27, 26, 26);
    height: auto;
    padding-bottom: 30px;
    width: 100vw;
}

.modelselector-head {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.modelselector-head h1 {
    font-size: 80px;
}

.jeepmodels-container {
    display: flex;
    justify-content: center;
    gap: 50px 3rem;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    padding-bottom: 50px;
}

.jeepmodels {
    background-color: #0f1010;
    padding: 30px;
    width: 200px;
    box-shadow: 0 4px 6px black;
    text-align: center;
    transition: .4s ease-in-out all;
}

.jeepmodels:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 black;
}

.jeepmodels img {
    margin-top: 10px;
    height: 190px;
    width: 350px;
    object-fit: contain;
}


.contact {
    min-height: 100vh;
    width: 100vw;
    background: url("../images/compassGroupPic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contacthead {
    padding-top: 20px;
    text-align: center;
}

.contacthead h1 {
    font-size: 80px;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-grey);
    box-shadow: 0 4px 8px 0;
    height: auto;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}


.formimg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 400px;
    margin-left: 40px;
}

.formimg img {
    height: 100%;
    width: 100%;
}

.formcontents {
    margin: auto;
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}


input[type=text],
input[type=email],
input[type=number] {
    height: 45px;
    width: 95%;
    margin: auto 10px;
    margin-top: 10px;
    background: none;
    padding: 10px;
    border: none;
    border: solid 2px grey;
}

textarea {
    width: 95%;
    height: 250px;
    padding-top: 10px;
    padding-left: 10px;
    margin: auto 10px;
    border: none;
    border: solid 2px grey;
    margin-top: 10px;
    resize: none;
}

button {
    width: 95%;
    padding: 10px;
    margin: auto 10px;
    border: none;
    border: solid 2px grey;
    background-color: orange;
}


#msg {
    height: 100px;
}


footer {
    min-height: 50vh;
    width: 100vw;
    background-color: black;
    color: white;
}

.footer1stdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    gap: 30px 5rem;
}

.footerlist {
    padding: 10px;
}

.footerlists p {
    text-decoration: underline;
    text-underline-offset: 3px;
    padding-bottom: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.footerlists ul li {
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    cursor: pointer;
}

.footerlists ul li:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

hr {
    margin: auto;
    width: 60%;
}

.credits {
    width: 100vw;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;

}

.credits h1 {
    font-size: 60px;
}



/*MEDIA QUERYS*/
@media (max-width: 1500px) {

    .contact-form {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--clr-grey);
        box-shadow: 0 4px 8px 0;
        height: auto;
        width: 60%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .formimg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        width: 400px;
        margin-left: 40px;
    }

    .formimg img {
        height: 100%;
        width: 100%;
    }

    .formcontents {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 30px;
        height: auto;
        width: 50%;
        display: flex;
        flex-direction: column;
    }





    .contact-form {
        width: 70%;
    }

}


@media (max-width: 1270px) {
    .navlinks {
        display: none;
    }

    .logos {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .mainarea {
        display: grid;
        text-align: center;
        margin-left: 0;
    }

    .maintextbox-left {
        width: 90%;
        margin: auto;
        text-align: center;
        padding: 50px;
    }

    .heroimg-right {
        margin: auto;
    }

    .heroimg-right img {
        padding-top: 10px;
        padding-right: 30px;
    }

    .imgbgcircle {
        background-color: var(--clr-red);
        position: absolute;
        z-index: -11;
        height: 500px;
        width: 500px;
        top: 50%;
        left: 25%;
        border-radius: 800px;
        transition: .5s ease-in-out;
    }

    .triangle-up {
        display: none;
    }


    .formimg {
        height: 60vh;
        width: 400px;
        margin-left: 30px;
    }

    .formcontents {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 30px;
        height: auto;
        width: 50%;
    }

}

@media (max-width: 1050px) {

    .formimg {
        max-width: 200px;
    }

    .formcontents {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        width: 50%;
    }
}

@media (max-width: 987px) {
    .imgandtext {
        flex-direction: column;
        padding-bottom: 0;
    }
    .about-imgcontainer {
        max-width: 700px;
        height: 400px;
        margin: auto;
    }

    .about-textcontainer {
        width: 700px;
        margin: auto;
        text-align: left;
    }
}

@media (max-width: 759px) {
    .maintextbox-left {
        width: 90%;
        margin: auto;
        text-align: center;
    }

    .heroimg-right {
        width: 90%;
    }

    .heroimg-right img {
        width: 100%;
    }

    .imgbgcircle {
        display: none;
    }

    .triangle-up {
        display: none;
    }

    .imgandtext {
        display: grid;
        justify-items: center;

    }

    .about-imgcontainer {
        margin: 30px;
    }

    .about-textcontainer {
        width: 90%;
        padding: 15px;
        margin-right: 0;
        justify-self: left;
        margin: auto;
    }

    .textimagediv {
        height: 500px;
    }

    .feature-textarea {
        height: auto;
    }

    .feature-imgcontainer {
        height: 350px;
    }


    .feature-textarea h2 {
        font-size: 40px;
    }

    .feature-textarea p {
        font-size: 16px;
    }


    .formcontents {
        padding-left: 0;
        padding-right: 40px;
    }

    

}

@media (max-width: 605px) {
    .textimagediv {
        flex-direction: column;
        margin-bottom: 10px;
        height: auto;
    }

    .features-imgandtxt {
        margin: 0;
    }

    .feature-textarea {
        width: 400px;
        height: auto;
        padding: 20px;
    }

    .rightimg .feature-textarea {
        text-align: left;
    }

    .feature-imgcontainer {
        align-self: center;
        height: 300px;
    }

    .feature-textarea h2 {
        font-size: 40px;
    }

    .feature-textarea p {
        font-size: 20px;
    }

    .colorcar {
        margin: auto;
    }

    .colorselector {
        width: 85%;
        padding-bottom: 30px;
        height: auto;
    }

    .contact-form {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--clr-grey);
        box-shadow: 0 4px 8px 0;
        height: auto;
        width: 60%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .formimg {
        display: none;
    }

    .formcontents {
        padding-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
        height: auto;
        width: 100%;
    }

    .menulinks {
        width: 100%;
    }

}

@media (max-width: 463px) {

    .navhead {
        margin: 0;
    }

    .navhead h2 {
        padding-left: 30px;
        font-size: 25px
    }

    .menu-icon {
        margin-right: 0;
        font-size: 25px;
        padding-top: 10px;
    }

    .maintextbox-left {
        padding: 0;
        padding-top: 50px;
        margin: auto;

    }

    .maintextbox-left h1 {
        font-size: 50px;
    }

    .aboutheader h1 {
        font-size: 50px;
    }

    .imgandtext {
        margin: 0;
        padding: 0;
    }

    .featureshead h1 {
        font-size: 50px;
    }

    .featurecar {
        display: none;
    }

    .feature-imgcontainer {
        align-self: center;
        height: 200px;
        width: 300px;
        min-width: 100px;
    }

    .feature-textarea {
        width: 300px;
        padding: 0;
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 20px;
        height: auto;

    }

    .feature-textarea h2 {
        font-size: 30px;
    }

    .feature-textarea p {
        font-size: 16px;
    }

    .colorbtns {
        padding: 10px;
    }

    .colorbtns button {
        width: 30px;
        height: 30px;
    }

    .modelsheader h1 {
        font-size: 50px;
    }

    .modelselector-head h1 {
        font-size: 50px;
    }

    .jeepmodels {
        width: 90%;
    }

    .jeepmodels img {
        width: 100%;
    }


    .formcontents {
        padding-top: 15px;
        padding-left: 5px;
        padding-right: 15px;
        padding-bottom: 15px;
        height: auto;
        width: 100%;
    }

    .footer1stdiv {
        justify-content: center;
        padding-left: 30px;
    }

    .credits h1 {
        font-size: 40px;
    }

    .credits p {
        font-size: 10px;
    }
}

@media (max-width: 347px) {
    .feature-imgcontainer {
        height: 200px;
        width: 250px;
    }

    .feature-textarea {
        width: 250px;
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 20px;

    }
}

@media (max-width: 355px) {
    .footer1stdiv {
        display: grid;
        padding-left: 0;
        margin: 0;
    }
}

/*KEYFRAMES ANIMATION*/
@keyframes fadeIn {

    0%,
    15% {
        opacity: 0;
    }

    15%,
    30% {
        opacity: 0;
        transform: translateX(-100px);
    }

    30%,
    45% {
        opacity: 0;
    }

    45%,
    60% {
        opacity: .2;
    }

    60%,
    75% {
        opacity: .5;
    }

    75%,
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {

    0%,
    15% {
        opacity: 0;
    }

    15%,
    30% {
        opacity: 0;
        transform: translateX(100px);
    }

    30%,
    45% {
        opacity: 0;
    }

    45%,
    60% {
        opacity: .2;
    }

    60%,
    75% {
        opacity: .5;
    }

    75%,
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeUp {

    0%,
    25% {
        opacity: 0;
        transform: translateY(50px);
    }

    25%,
    50% {
        opacity: 0;
        transform: translateY(40px);
    }

    50%,
    75% {
        opacity: .6;
        transform: translateY(-15px);
    }

    75%,
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDown {

    0%,
    25% {
        opacity: 0;
        transform: translateY(-50px);
    }

    25%,
    50% {
        opacity: 0;
        transform: translateY(-40px);
    }

    50%,
    75% {
        opacity: .6;
        transform: translateY(15px);
    }

    75%,
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes popImg {
    0% {
        transform: scale(0);
    }

    50% {

        transform: scale(1);
    }

    100% {
        opacity: 1;

    }
}